<h1>New Student</h1>
<form action="/students" method="post">
  <p>
  <label for="name">Name</label>
  <input id="name" type="text" name="student[name]">
  </p>
  <p>
  <label for="work">Work</label>
  <input id="work" type="text" name="student[work]">
  </p>
  <p>
  <label for="work_title">Work Title</label>
  <input id="work_title" type="text" name="student[work_title]">
  </p>
  <p>
  <label for="personal_project">Personal Project</label>
  <input id="personal_project" type="text" name="student[personal_project]">
  </p>
  <p>
  <label for="twitter">Twitter</label>
  <input id="twitter" type="text" name="student[twitter]">
  </p>
  <p>
  <label for="linkedin">LinkedIn</label>
  <input id="linkedin" type="text" name="student[linkedin]">
  </p>
  <p>
  <label for="github">Github</label>
  <input id="github" type="text" name="student[github]">
  </p>
  <p>
  <label for="profile_image">Profile Image</label>
  <input id="profile_image" type="text" name="student[profile_image]">
  </p>
  <p>
  <label for="background_image">Background Image</label>
  <input id="background_image" type="text" name="student[background_image]">
  </p>
  <p>
  <label for="quote">Quote</label>
  <input id="quote" type="text" name="student[quote]">
  </p>
  <p>
  <label for="bio">Bio</label>
  <input id="bio" type="text" name="student[bio]">
  </p>
  <p>
  <label for="education">Education</label>
  <input id="education" type="text" name="student[education]">
  </p>
  <input type="submit" value="submit">
</form>
